<h4>A helper script for the Github Pages.</h4>
<p>
  When I have started this project, I have found that Github Pages are requiring
  to have a copy of an <strong>index.html</strong> file named
  <strong>404.html</strong>.
</p>
<p>
  There are projects which are solving this problem. For example, there is an
  <app-external-link [href]="angularCliGhPagesUrl"
    >angular-cli-ghpages</app-external-link
  >
  project.
</p>
<p>
  But I wanted to solve the problem personally. Plus, I didn't want to add an
  extra layer to the project.
</p>
<p>As one of my teachers said:</p>
<app-note>"Follow the KISS rule."</app-note>
<p>That is why I had created this script: it is simple yet robust.</p>
<h5>Task</h5>
<p>
  Copy an <strong>index.html</strong> with a name
  <strong>404.html</strong> after project compilation is over.
</p>
<h5>Solution</h5>
<p>Create a script for node.js, which will perform the routine.</p>
<p>Here is the script:</p>
<app-code [html]="copyJs"></app-code>
<p>It is, indeed, simple.</p>
<h5>Explanation</h5>
<p>This script is running in the node.js environment.</p>
<p>
  To start the script automatically, I have modified the package.json file. Here
  is an excerpt:
</p>
<app-code [value]="packageJson"></app-code>
<p>
  Note the <strong>"build"</strong> parameter - it starts the script. Value of
  this parameter instructs node.js to run <strong>ng build</strong> and after
  that run <strong>copy.js</strong>.
</p>
<p>The script will output the success or error message after it finishes.</p>
