<h4>Tabs</h4>
<p>
  Tabs are used everywhere. They are helping to divide the user interface into
  logical parts.
</p>
<p>
  This approach helps the user to navigate through the interface. On the other
  hand, this also helps the developer to develop and maintain the project.
</p>
<p>
  This article will show a basic way to add the tabs component to the project.
</p>
<h5 [id]="descriptionAnchor">Description</h5>
<p>
  The component should allow the user to navigate through internal links (.e.g.
  <code>components/intro</code>). Also, it should handle a custom click events.
</p>
<h5 [id]="componentAnchor">Component</h5>
<p>
  The tabs component takes an array of links descriptions.
</p>
<p>
  The behavior of the tabs is limited to link-like and button-like styles. By
  default, all tabs are interpreted as buttons.
</p>
<p>
  Additionally, there is an option to render tabs with equal width if possible.
</p>
<p>Here is the source:</p>
<app-source-viewer [sources]="tabsSources"></app-source-viewer>
<h5 [id]="conclusionAnchor">Conclusion</h5>
<p>
  This component is lightweight and can behave as a link or as a button.
</p>
<p>
  Thus, it is easier to divide the interface into logical units with ease.
</p>
