<div class="row">
  <div class="col">
    <p>
      My contacts:
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p *ngFor="let link of links">
      <a href="{{ link.href }}"
        ><fa-icon
          [fixedWidth]="true"
          [icon]="link.icon"
          [size]="size"
        ></fa-icon>
        &nbsp;{{ link.label }}</a
      >
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      This site is made with:
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <a
      *ngFor="let link of externalLinks"
      href="{{ link.href }}"
      target="_blank"
      rel="noopener noreferrer"
      ><fa-icon [fixedWidth]="true" [icon]="link.icon" [size]="size"></fa-icon
    ></a>
  </div>
</div>
