<div class="row">
  <div class="col">
    <p>My contacts:</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p *ngFor="let link of links">
      <a [href]="link.href" [target]="target(link)" rel="noopener noreferrer"
        ><fa-icon
          [fixedWidth]="true"
          [icon]="link.icon"
          [size]="faIconSize2x"
        ></fa-icon>
        &nbsp;{{ link.label }}</a
      >
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>This site is made with:</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <a
      [href]="link.href"
      [rel]="'noopener noreferrer'"
      [target]="'_blank'"
      *ngFor="let link of externalLinks"
      ><fa-icon
        [fixedWidth]="true"
        [icon]="link.icon"
        [size]="faIconSize2x"
      ></fa-icon
    ></a>
  </div>
</div>
