<h4>Visual Studio Code extensions which help you to be more productive</h4>
<p>
  Every day I'm writing a lot of JavaScript code. And also creating HTML
  templates and defining styles for them.
</p>
<p>
  So, this means that I have a lot of routine tasks which are eating my time,
  but I can't avoid them.
</p>
<p>
  But, I'm using a
  <app-external-link [href]="codeUrl">Visual Studio Code</app-external-link>!
  And this IDE has a lot of
  <app-external-link [href]="codeMarketUrl">extensions</app-external-link>
  which are making my life easier.
</p>
<h5 id="{{ tsLintAnchor }}">
  <app-external-link [href]="tsLintUrl">TSLint</app-external-link>
</h5>
<p>
  A real-time linter for TypeScript files.
</p>
<p>
  First of all, this extension will highlight errors. Moreover, TSLint will show
  the possible fixes list.
</p>
<p>This extension also has an auto-fix feature for most common mistakes.</p>
<h5 id="{{ typescriptHeroAnchor }}">
  <app-external-link [href]="typescriptHeroUrl"
    >TypeScript Hero</app-external-link
  >
</h5>
<p>
  This extension is a real life-saver because it can sort imports and remove
  unused imports, etc.
</p>
<p>
  And thus enables you to have pretty and clean code: no more "spaghetti"
  imports - life is beautiful!
</p>
<h5 id="{{ prettierAnchor }}">
  <app-external-link [href]="prettierUrl">Prettier</app-external-link>
</h5>
<p>The only thing this extension can't handle is to organize imports.</p>
<p>
  All other tasks performed with brilliant ease and speed, and this is awesome.
</p>
<p>
  Any messy file will become human-readable in a matter of fractions of seconds
  once you save it.
</p>
<p>
  Also, this extension supports a lot of file types and able to format not only
  code.
</p>
<p>
  On the list of supported types where is Python, Java, C#, CSS, LESS, JSON,
  etc.
</p>
<h5 id="{{ intelliCodeAnchor }}">
  <app-external-link [href]="intelliCodeUrl"
    >Visual Studio IntelliCode</app-external-link
  >
</h5>
<p>As the first paragraph of the description of this extension says:</p>
<app-blockquote>
  <p blockquote class="mb-0">
    The Visual Studio IntelliCode extension provides AI-assisted development
    features for Python, TypeScript/JavaScript and Java developers in Visual
    Studio Code, with insights based on understanding your code context combined
    with machine learning.
  </p>
</app-blockquote>
<p>
  What else to say? This AI-enabled extension is boosting up your productivity
  up to the sky!
</p>
<p>
  The IntelliCode extension allows you to use your code at its best at the
  greatest rate.
</p>
<h5 id="{{ gitLensAnchor }}">
  <app-external-link [href]="gitLensUrl">GitLens</app-external-link>
</h5>
<p>
  A GitLens extension covers all types of tasks connected with version control.
</p>
<p>
  This extension allows you to browse branches, contributors, stashes, and tags.
</p>
<p>Also, it enables you to navigate and compare a file and a line history.</p>
<p>You can perform a comparison of commits by branch, tag, or ref.</p>
<p>And even search commits by message, author, id, file, etc.</p>
<p>The file blame annotations mode helps you to visualize code authorship.</p>
<p>All this power is available inside an IDE.</p>
<h5 id="{{ intelliSenseForCssAnchor }}">
  <app-external-link [href]="intelliSenseForCssUrl"
    >IntelliSense for CSS class names in HTML</app-external-link
  >
</h5>
<p>
  Let's say you are using some external CSS library in your project, or you are
  new to some project which has a rich CSS.
</p>
<p>
  In any case, you should memorize a lot of new class names.
</p>
<p>
  To simplify the process, you should use this extension.
</p>
<p>
  This utility will analyze and cache all CSS definitions available.
</p>
<p>
  After that, you will have the ability to see the class names inside HTML files
  during editing.
</p>
<h5 id="{{ debuggerForChromeAnchor }}">
  <app-external-link [href]="debuggerForChromeUrl"
    >Debugger for Chrome</app-external-link
  >
</h5>
<p>
  If you want to debug your favorite app in Chrome and have features of IDE,
  then this extension is for you.
</p>
<p>
  All you need is configure your workspace and Chrome browser.
</p>
<p>
  After that set breakpoints and start debugging mode.
</p>
<h5 id="{{ bracketPairColorizerAnchor }}">
  <app-external-link [href]="bracketPairColorizerUrl"
    >Bracket Pair Colorizer</app-external-link
  >
</h5>
<p>
  It is not always an easy task to track a matching pair.
</p>
<p>
  This extension enables colorizing for matching pairs.
</p>
<p>
  And thus you can always understand inside of which scope you currently are.
</p>
<h5 id="{{ spellCheckerAnchor }}">
  <app-external-link [href]="spellCheckerUrl">Spell Checker</app-external-link>
</h5>
<p>
  This feature-rich extension will help you avoid typos in your code, comments,
  etc.
</p>
<p>
  It supports several languages and a variety of file types.
</p>
<p>
  Also, this extension understands different naming conventions, such as
  camelCase, snake_case, etc.
</p>
<p>
  Another noticeable feature is a suggestion list for misspelled words.
</p>
<h5 id="{{ settingsSyncAnchor }}">
  <app-external-link [href]="settingsSyncUrl">Settings Sync</app-external-link>
</h5>
<p>
  If you are using Code on several workstations, then you will need this
  extension.
</p>
<p>
  It allows you to sync your settings between different instances of IDE.
</p>
<p>
  These settings are including hotkeys, themes, extensions, snippets, etc.
</p>
