<div class="container" [ngStyle]="{ perspective: size(perspective) }">
  <div
    [ngStyle]="{
      width: size(planeWidth),
      height: size(planeHeight),
      'transform-style': mode3d ? 'preserve-3d' : 'flat'
    }"
    class="plane"
  >
    <div
      [ngStyle]="{
        background: background,
        width: size(faceWidth(face)),
        height: size(faceHeight(face)),
        transform: transform(face)
      }"
      *ngFor="let face of facesCount"
      class="face"
    ></div>
  </div>
</div>
