%defaults {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  @extend %defaults;
  width: 100%;
  height: 300px;

  .plane {
    transform: rotate3d(1, 1, 1, 45deg);
    animation: rotate 6s linear infinite;

    .face {
      @extend %defaults;
      position: absolute;
      overflow: hidden;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
