<h4>The list of required tools</h4>
<p>
  Here goes the list of tools which one will need to have to start developing.
</p>
<p>Please, note that the order of the list is also important.</p>
<p>For example, Yarn will not work without NPM, etc.</p>
<p>Ok let's get started</p>
<h5>
  <app-external-link [href]="nodeJsUrl">Node.js</app-external-link>
</h5>
<p>
  The Node.js provides a powerful V8 JavaScript engine, a package manager (aka
  NPM), server-side JavaScript runtime environment, etc.
</p>
<h5>
  <app-external-link [href]="yarnUrl">Yarn</app-external-link>
</h5>
<p>The Yarn package manager is a superset for an NPM.</p>
<p>Why use Yarn?</p>
<p>First of all, it is much faster.</p>
<p>
  Secondly, Yarn will recreate all of the dependencies you use in your project
  with the same version on any remote workstation.
</p>
<h5>IDE</h5>
<p>You may use any IDE which fits you the most.</p>
<p>
  Here are some of them
  <app-external-link [href]="eclipseUrl">Eclipse</app-external-link>,
  <app-external-link [href]="netBeansUrl">NetBeans</app-external-link>,
  <app-external-link [href]="webStormUrl">WebStorm</app-external-link>,
  <app-external-link [href]="codeUrl">Visual Studio Code</app-external-link>.
</p>
<p>
  If you are a hardcore type of developer you may also use
  <app-external-link [href]="atomUrl">Atom</app-external-link>,
  <app-external-link [href]="sublimeUrl">Sublime Text</app-external-link> or
  even <app-external-link [href]="vimUrl">Vim</app-external-link>.
</p>
<p>
  I'm using Visual Studio Code if you are using it too then checkout
  <a [routerLink]="vsCodeExtensionsPath">list</a> of extensions I'm using daily
  to be more productive.
</p>
<h5>
  <app-external-link [href]="gitUrl">Git</app-external-link>
</h5>
<p>Git is a powerful yet flexible, still easy to use version control system.</p>
<p>
  You can use different software to sync your work between local and remote
  repositories and other developers.
</p>
<p>
  Though, the official package of git includes such tools as gitk and git-gui
  you may also use any of programs listed on the official
  <app-external-link [href]="gitGuiUrl">site</app-external-link>.
</p>
<p>
  If you prefer to use the CLI, then take a look at the
  <a [routerLink]="gitCliPath">list</a>
  of commands which I'm using daily.
</p>
<h5>Angular</h5>
<p></p>
<pre>
  <code>
    npm install -g @angular/cli
  </code>
  <code>
    yarn add global @angular/cli
  </code>
</pre>
<p></p>
<p></p>
<p></p>
<h5>Bootstrap</h5>
<h5>Font Awesome</h5>
