<h4>The list of required tools</h4>
<p>
  Here goes the list of tools which one will need to have to start developing.
</p>
<p>Please, note that the order of the list is also important.</p>
<p>For example, Yarn will not work without NPM, etc.</p>
<p>Ok let's get started</p>
<h5>
  <app-external-link [href]="nodeJsUrl">Node.js</app-external-link>
</h5>
<p>
  The Node.js provides a powerful V8 JavaScript engine, a package manager (aka
  NPM), server-side JavaScript runtime environment, etc.
</p>
<h5>
  <app-external-link [href]="yarnUrl">Yarn</app-external-link>
</h5>
<p>The Yarn package manager is a superset for an NPM.</p>
<p>Why use Yarn?</p>
<p>First of all, it is much faster.</p>
<p>
  Secondly, Yarn will recreate all of the dependencies you use in your project
  with the same version on any remote workstation.
</p>
<h5>IDE</h5>
<p>You may use any IDE which fits you the most.</p>
<p>
  Here are some of them
  <app-external-link [href]="eclipseUrl">Eclipse</app-external-link>,
  <app-external-link [href]="netBeansUrl">NetBeans</app-external-link>,
  <app-external-link [href]="webStormUrl">WebStorm</app-external-link>,
  <app-external-link [href]="codeUrl">Visual Studio Code</app-external-link>.
</p>
<p>
  If you are a hardcore type of developer you may also use
  <app-external-link [href]="atomUrl">Atom</app-external-link>,
  <app-external-link [href]="sublimeUrl">Sublime Text</app-external-link> or
  even <app-external-link [href]="vimUrl">Vim</app-external-link>.
</p>
<p>
  I'm using Visual Studio Code if you are using it too then checkout
  <a [routerLink]="vsCodeExtensionsPath">list</a> of extensions I'm using daily
  to be more productive.
</p>
<h5>
  <app-external-link [href]="gitUrl">Git</app-external-link>
</h5>
<p>Git is a powerful yet flexible, still easy to use version control system.</p>
<p>
  You can use different software to sync your work between local and remote
  repositories and other developers.
</p>
<p>
  Though, the official package of git includes such tools as
  <code>gitk</code> and <code>git-gui</code> you may also use any of programs
  listed on the official
  <app-external-link [href]="gitGuiUrl">site</app-external-link>.
</p>
<p>
  If you prefer to use the CLI, then take a look at the
  <a [routerLink]="gitCliPath">list</a>
  of commands which I'm using daily.
</p>
<h5>Angular</h5>
<p>To start a new Angular project follow these steps.</p>
<p>First, install an Angular CLI via NPM.</p>
<app-code>npm install -g @angular/cli</app-code>
<p>Or using Yarn:</p>
<app-code>yarn add global @angular/cli</app-code>
<p>Second, create a new project:</p>
<app-code>ng new app</app-code>
<p>
  Before the creation, Angular will ask you about the basic features of the new
  project.
</p>
<p>
  The first question is about enabling Angular routing in your project (default
  option is no).
</p>
<p>The second question is about CSS handling (default option is pure CSS).</p>
<p>After all of the required operations are done, go to the project folder.</p>
<app-code>cd app</app-code>
<p>Finally, run the project!</p>
<app-code>ng serve</app-code>
<p>
  Optionally you can provide <code>--open</code> flag, which will open your
  default browser once the project is ready to start.
</p>
<app-code>ng serve --open</app-code>
<p>To get a list of available commands run the following:</p>
<app-code>ng help</app-code>
<h5>
  <app-external-link [href]="bootstrapUrl">Bootstrap</app-external-link>
</h5>
<p>To build applications fast, one should use CSS component library.</p>
<p>My favorite is Bootstrap!</p>
<p>
  So, to add this component library to your project start CLI anywhere inside
  your project's folder and install it via NPM:
</p>
<app-code>npm install bootstrap</app-code>
<p>Or via Yarn:</p>
<app-code>yarn add bootstrap</app-code>
<h5>
  <app-external-link [href]="fontAwesomeUrl">Font Awesome</app-external-link>
</h5>
<p>
  One more thing you can to do is to install the Font Awesome, though this step
  is optional.
</p>
<p>This toolkit will allow you to add awesome SVG icons into your project.</p>
<p>
  Which, in turn, will enrich the visual experience and will add a neat look to
  your project.
</p>
<p>Anywhere inside your project's folder run:</p>
<app-code
  >npm install @fortawesome/fontawesome-svg-core
  @fortawesome/free-brands-svg-icons @fortawesome/free-regular-svg-icons
  @fortawesome/free-solid-svg-icons @fortawesome/angular-fontawesome</app-code
>
<p>Or via Yarn:</p>
<app-code
  >yarn add @fortawesome/fontawesome-svg-core @fortawesome/free-brands-svg-icons
  @fortawesome/free-regular-svg-icons @fortawesome/free-solid-svg-icons
  @fortawesome/angular-fontawesome</app-code
>
<p>Here goes short description for each package installed:</p>
<p><code>@fortawesome/fontawesome-svg-core</code> - the toolkit itself.</p>
<p>
  <code>@fortawesome/free-brands-svg-icons</code> - the set of free branded
  icons, such as Google, Twitter, Facebook, etc.
</p>
<p>
  <code>@fortawesome/free-regular-svg-icons</code> - the set of free
  <code>regular</code> icons.
</p>
<p>
  <code>@fortawesome/free-solid-svg-icons</code> - the set of free
  <code>solid</code> icons.
</p>
<p>
  <code>@fortawesome/angular-fontawesome</code> - this is a wrapper
  <app-external-link [href]="angularFontAwesomeUrl">library</app-external-link>
  for use in Angular projects.
</p>
<p>
  You can browse the icons
  <app-external-link [href]="fontAwesomeIconsUrl">here</app-external-link>.
</p>
<p></p>
