<h4>Intro</h4>
<p>
  The best way to get familiar with a library or framework is to build a
  component library.
</p>
<p>
  It doesn't matter about which area is the topic: front-end, back-end, etc.
</p>
<p>This section is committed to the UI.</p>
<p>Here I will show how to build components with Angular and Bootstrap.</p>
<p>Of course, one may ask: "What about ready to use solutions?".</p>
<p>And my answer is: "Go ahead and use them!".</p>
<p>Such solutions saving a lot of time for developers and are easy to use.</p>
<p>
  But, if you want to deep dive into the ecosystem, you should invest your time
  and patience.
</p>
<p>That's why I'm offering you to build several components.</p>
