<nav
  [id]="id"
  [ngClass]="{
    'navbar-dark': bgDark,
    'navbar-light': !bgDark,
    'position-sticky': sticky,
    rounded: rounded
  }"
  #host
  class="navbar navbar-expand-lg {{ bg }}"
>
  <a [routerLink]="brand.path" *ngIf="brand" class="navbar-brand">
    {{ brand.data.label }}
  </a>
  <span
    [ngClass]="{ 'text-dark': !bgDark, 'text-light': bgDark }"
    *ngIf="text"
    class="navbar-text"
  >
    {{ text }}
  </span>
  <button (click)="click()" #toggler class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div #navbar class="collapse navbar-collapse">
    <ul [ngClass]="{ 'flex-column': vertical }" class="navbar-nav mr-auto">
      <li *ngFor="let item of items" class="nav-item">
        <a
          (click)="click()"
          [routerLink]="item.path"
          [routerLinkActive]="routeActive"
          *ngIf="!item.skip"
          class="nav-link"
        >
          {{ item.data.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>
