<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" #host>
  <span class="navbar-text text-dark">
    {{ activatedRoute.firstChild.label }}
  </span>
  <button class="navbar-toggler" type="button" (click)="click()" #toggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" #navbar>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of items">
        <a
          (click)="click()"
          [routerLink]="item.path"
          [routerLinkActive]="active"
          class="nav-link"
        >
          {{ item.data.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>
